<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet">
    <title>
        <%= title %>
    </title>
    <style>
        section {
            display: flex;
            width: 100%;
            min-height: 100vh;
        }

        #home {
            background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 1)),
                url("https://media.istockphoto.com/id/1388948315/photo/abstract-colorful-background-brush-strokes-red-orange-yellow-purple-and-blue-colors-artistic.jpg?s=170667a&w=0&k=20&c=89Y50c4JceRxibl8cmN2v998Ido5xKbTB6iOtATaRdw=");
            background-size: cover;
            background-position: center;
            flex-direction: column;
        }

        .h1 {
            font-family: brush script mt, cursive;
            color: rgb(255, 255, 255);
            font-size: 5.5vw;
            text-align: center;
        }

        .h2 {
            font-family: lucida handwriting, cursive;
            color: rgb(255, 255, 255);
            font-size: 2.0vw;
            text-align: center;
        }

        .form {
            font-family: arrial;
            color: rgb(255, 255, 255);
            font-size: 1.1vw;
        }
    </style>
</head>

<body>
    <section id="home">
        <h1 class="h1">
            Sports Scheduler
        </h1><br><br>
        <h2 class="h2">Login to your account</h2><br>
        <div class="grid grid-cols-8">
            <div class="col-start-4 col-span-2">
                <form action="/session" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="form">
                        <label for="email">Email ID:</label>
                        <input type="email" name="email" placeholder="Enter Email-Id"
                            class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                    </div>
                    <div class="form">
                        <br><label for="password">Password:</label>
                        <input type="password" name="password" placeholder="password"
                            class="border border-gray-300 text-gray-900 rounded p-2 w-full">
                    </div>
                    <div class="form">
                        <br><button type="submit" class="bg-white hover:bg-green-800 font-medium rounded px-5 py-2"
                            style="color:rgb(233, 170, 13)">Sign
                            in</button>
                    </div>
                    <div class="form">
                        <br>
                        <p class="py-2" style="color:white">Don't have an account? <a href="/Signup_Page"
                                style="color:rgb(236, 172, 11)">Sign-up
                                now</a></p>
                    </div>
                </form>
                <div style="color:white" class="form">
                    <% if(messages && messages.error && messages.error.length> 0) { %>
                        <% for(var i=0; i<messages.error.length; i++) { %>
                            <li>
                                <%= messages.error[i] %>
                            </li>
                            <% } %>
                                <% } %>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
